/* All styles for your Card Components live here */



/* CARD CONTAINER*/

.Card-Container{
    max-width: 580px;
    border: 1px solid lightgrey;
    margin-left: 75px;
}


/* CARD BANNER*/

.Card-Banner{
    max-width: 580px;
}


/* CARD CONTENT*/

.Card-Content{
    padding-left: 15px;
}

.Card-Content h1 {
    font-size: 16px;   
}

.Card-Content p {
    font-size: 16px;
    margin-bottom: -5px;
}

.Card-Content .Text-Site {
    color: grey;
    margin-bottom: 10px;
    
}